@tailwind base;
@tailwind components;
@tailwind utilities;

.kursor{
  cursor: pointer;
}
.siroko{
  width: 100%;
}
.labelaAtributa:first-letter, .form-check-label:first-letter {
  text-transform: uppercase;
}
.pozdrav{
  color: wheat;
  font-size: 20px;
  text-align: center;
} 
.loading-spinner-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

 
  
 
  
  
  @media (min-width: 1200px) {
  .hero-item {
      max-width: 33%;
      height: 70vh;
    }
  
  .hero-image-container {
      height: 100%;
    }
  
  .hero-image {
      max-height: auto;
    }
  }
  
  @media (min-width: 1600px) {
  .hero-item {
     
      max-width: 35%;
      height: 70vh;
    }
  
  .hero-image-container {
      height: 100%;
    }
  
  .hero-image {
      
      max-height: auto;
    }
  }
 
 