@tailwind base;
@tailwind components;
@tailwind utilities;

.kursor{
  cursor: pointer;
}
.siroko{
  width: 100%;
}
.labelaAtributa:first-letter, .form-check-label:first-letter {
  text-transform: uppercase;
}
.pozdrav{
  color: wheat;
  font-size: 20px;
  text-align: center;
} 